<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/night.css" />
    <link rel="stylesheet" href="css/bird.css" />
    <link rel="stylesheet" href="css/light.css" />
    <link rel="stylesheet" href="css/settings.css" />
    <link rel="stylesheet" href="css/cloud.css" />
    <link rel="stylesheet" href="css/time.css" />
    <link rel="stylesheet" href="css/water.css" />
    <link rel="stylesheet" href="css/score.css" />
    <link rel="stylesheet" href="css/fog.css" />
    <link rel="stylesheet" href="css/day.css" />
    <link rel="stylesheet" href="css/rain.css" />
    <link rel="stylesheet" href="css/button.css" />
    <link rel="stylesheet" href="css/message.css" />
    <link rel="stylesheet" href="css/fish.css" />
    <link rel="stylesheet" href="FishFocus.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/audio-interop.js"></script>
    <script src="js/audio-interop.js?v=1.1"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="js/visual-effects.js"></script>
</body>

</html>