@using System.ComponentModel.DataAnnotations
@using MudBlazor

<MudDialog>
    <DialogContent>
        <MudTabs Outlined="true" Position="Position.Top" Rounded="true" Border="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Вход">
                <MudForm @ref="loginForm">
                    <MudTextField T="string" Label="Логин или Email" Required="true" 
                                  Variant="Variant.Outlined" Class="mb-4" @bind-Value="loginModel.Username" />
                    <MudTextField T="string" Label="Пароль" InputType="InputType.Password" 
                                  Required="true" Variant="Variant.Outlined" @bind-Value="loginModel.Password" />
                    
                    <div class="d-flex justify-center mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" 
                                   OnClick="HandleLogin" FullWidth="true">ВОЙТИ</MudButton>
                    </div>
                </MudForm>
            </MudTabPanel>

            <MudTabPanel Text="Регистрация">
                <MudForm @ref="registerForm">
                    <MudTextField T="string" Label="Имя пользователя" Required="true" 
                                  Variant="Variant.Outlined" Class="mb-4" @bind-Value="regModel.Username" />
                    <MudTextField T="string" Label="Email" Required="true" 
                                  Variant="Variant.Outlined" Class="mb-4" @bind-Value="regModel.Email" />
                    <MudTextField T="string" Label="Пароль" InputType="InputType.Password" 
                                  Required="true" Variant="Variant.Outlined" @bind-Value="regModel.Password" />
                    
                    <div class="d-flex justify-center mt-6">
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Large" 
                                   OnClick="HandleRegister" FullWidth="true">СОЗДАТЬ АККАУНТ</MudButton>
                    </div>
                </MudForm>
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] IMudDialogInstance MudDialog { get; set; } = default!;

    private MudForm? loginForm;
    private MudForm? registerForm;

    private LoginDto loginModel = new();
    private RegisterDto regModel = new();

    // Пока это заглушки для фронта, потом здесь будет вызов
    private void HandleLogin() => MudDialog.Close(DialogResult.Ok(loginModel));
    private void HandleRegister() => MudDialog.Close(DialogResult.Ok(regModel));

    public class LoginDto { public string? Username { get; set; } public string? Password { get; set; } }
    public class RegisterDto { public string? Username { get; set; } public string? Email { get; set; } public string? Password { get; set; } }
}