<div class="test-tools-container">
    
    <MudButton Class="test-tools-button" 
               Variant="Variant.Filled" 
               OnClick="OnFastForward">
        ПРОПУСТИТЬ ДО 5 СЕК
    </MudButton>
</div>
@code {
    [Parameter] public bool IsRunning { get; set; }
    
    [Parameter] public int SelectedMinutes { get; set; }
    
    [Parameter] public EventCallback OnFastForward { get; set; }
}