.birds-visual-area {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none !important;
    animation: fadeInEffect 1.5s ease-in-out forwards;
    overflow: hidden;
}

.bird {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg');
    filter: invert(34%) sepia(55%) saturate(427%) hue-rotate(141deg) brightness(93%) contrast(91%);
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird-one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird-two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird-three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird-four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    left: -20%;
    will-change: left, transform;
    animation-name: fly-right-erratic;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bird-container-one {
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container-two {
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container-three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container-four {
    animation-duration: 16s;
    animation-delay: 10.25s;
}

.fly-right {
    left: -20%;
    animation-name: fly-right-erratic;
}

.fly-left {
    left: 120%;
    animation-name: fly-left-erratic;
}

@keyframes fly-right {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(110vw);
    }
}

@keyframes fly-right-erratic {
    0% {
        left: -20%;
        transform: scale(0.3) translateY(0);
    }

    30% {
        transform: scale(0.5) translateY(-3vh);
    }

    60% {
        transform: scale(0.6) translateY(3vh);
    }

    100% {
        left: 125%;
        transform: scale(0.6) translateY(0);
    }
}

@keyframes fly-left-erratic {
    0% {
        left: 120%;
        transform: scaleX(-1) scale(0.3) translateY(0);
    }

    30% {
        transform: scaleX(-1) scale(0.5) translateY(-3vh);
    }

    60% {
        transform: scaleX(-1) scale(0.6) translateY(3vh);
    }

    100% {
        left: -25%;
        transform: scaleX(-1) scale(0.6) translateY(0);
    }
}

@keyframes fly-cycle {
    100% {
        background-position: -900px 0;
    }
}

@keyframes fly-right-one {
    0% {
        transform: scale(0.3) translateX(-10vw);
    }

    10% {
        transform: translateY(2vh) translateX(10vw) scale(0.4);
    }

    20% {
        transform: translateY(0vh) translateX(30vw) scale(0.5);
    }

    30% {
        transform: translateY(4vh) translateX(50vw) scale(0.6);
    }

    40% {
        transform: translateY(2vh) translateX(70vw) scale(0.6);
    }

    50% {
        transform: translateY(0vh) translateX(90vw) scale(0.6);
    }

    60% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }

    100% {
        transform: translateY(0vh) translateX(110vw) scale(0.6);
    }
}



@keyframes bird-fly {
    0% {
        left: -100px;
    }

    100% {
        left: 120vw;
    }
}

@keyframes bird-fly {
    from {
        transform: translateX(-50px);
    }

    to {
        transform: translateX(110vw);
    }
}
