mud-button-filled {
    background-color: #ffa000 !important;
    color: #ffffff !important;
}

.action-button {
    border-radius: 12px !important;
    text-transform: none !important;
    font-weight: 600 !important;
    padding: 10px 24px !important;
    z-index: 220;
    pointer-events: auto !important;
    margin: 0 !important;
    filter: none !important;
    animation: fadeInEffect 1.5s ease-in-out forwards;
    transform: translateY(120px);
    pointer-events: auto !important;
}

.test-tools-button {
    height: 32px !important;
    font-size: 1rem !important;
    min-width: 180px !important;
    background: #98bee5;
}

.test-tools-container {
    padding: 12px !important;
    margin: -20px auto !important;
    max-width: 300px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
